@model PharmacistsViewModel
@{
    ViewData["Title"] = "Pharmacists";
}
<div class="box-columned box-spaced-between">
    <div class="">
        <a asp-controller="Pharmacist" asp-action="Add"
           class="btn btn-primary">Add</a>
    </div>
    <div class="">
        <button type="button" class="btn btn-primary dropdown-toggle"
                id="sortDropdownBtn" data-toggle="dropdown"
                aria-expanded="false">
            Sort by
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdownBtn">
            <li class="dropdown-item">
                <a asp-controller="Pharmacy" asp-action="Index" asp-route-sortBy="none">
                    -----
                </a>
            </li>
            <li class="dropdown-item">
                <a asp-controller="Pharmacist" asp-action="Index" asp-route-sortBy="name">
                    Name
                </a>
            </li>
            <li class="dropdown-item">
                <a asp-controller="Pharmacist" asp-action="Index" asp-route-sortBy="email">
                    Email Address
                </a>
            </li>
            <li class="dropdown-item">
                <a asp-controller="Pharmacist" asp-action="Index" asp-route-sortBy="pharmacy">
                    Pharmacy
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="box-columned overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Pharmacy</th>
                <th>Address</th>
                <th>Registration No.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.OverallCount > 0)
            {
                var i = 1;
                @foreach (var pharmacist in Model.DataList)
                {
                    <tr>
                        <td>@i</td>
                        <td>@(pharmacist.FirstName + " " + pharmacist.LastName)</td>
                        <td>@pharmacist.ContactNumber</td>
                        <td>@pharmacist.EmailAddress</td>
                        <td>@pharmacist.PharmacyName</td>
                        <td>
                            @{
                                                    <span>@pharmacist.AddressLine1</span><br />
                                                                        <span>@pharmacist.AddressLine2</span><br />
                                                                                            <span>@pharmacist.SuburbName</span><br /> }
                        </td>
                        <td>@pharmacist.RegistrationNo</td>
                        <td colspan="1" class="box-columned m-0 justify-content-end">
                            <a class="btn btn-primary m-1" asp-controller="Pharmacist"
                               asp-action="Edit" asp-route-id="@pharmacist.PharmacistId">
                                <span><img class="utility-icon" src="~/icons/edit.png" /></span>
                            </a>
                            <form asp-controller="Pharmacist" asp-action="Delete"
                                  asp-route-id="@pharmacist.PharmacistId" method="post"
                                  class="form-critical">
                                <button class="btn btn-primary m-1" type="submit">
                                    <span><img class="utility-icon" src="~/icons/delete.png" /></span>
                                </button>
                            </form>
                        </td>
                    </tr>                    
                    i++;
                 } 
             }
             else
             {
                <tr>
                    <td>Empty</td>
                </tr>            
            }   
        </tbody>
    </table>
</div>
<div>
    @if (Model.OverallCount > 0)
    {
        <nav aria-label="Page navigation example" class="box-columned box-spaced-between">
            <div class="box-rowed box-centered">
                <strong>Showing @Model.CurrentPage of @Model.OverallCount</strong>
            </div>
            <ul class="pagination">
                <li class="page-item @(Model.CurrentPage == 1? "disabled": "")">
                    <a class="page-link" asp-controller="Pharmacist" asp-action="Index"
                   asp-route-pageNumber="@(Model.CurrentPage - 1)" asp-route-sortBy="@Model.Sort">Previous</a>
                </li>
                @for (int i = 1; i <= Model.OverallCount; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i?"active": "")">
                        <a class="page-link" asp-controller="Pharmacist" asp-action="Index"
                   asp-route-pageNumber="@i" asp-route-sortBy="@Model.Sort">@i</a>
                    </li>
                }
                <li class="page-item @(Model.CurrentPage == Model.OverallCount ? "disabled": "")">
                    <a class="page-link" asp-controller="Pharmacist" asp-action="Index"
                   asp-route-pageNumber="@(Model.CurrentPage + 1)" asp-route-sortBy="@Model.Sort">Next</a>
                </li>
            </ul>
        </nav>
    }
</div>