@model PatientAllergyModel
@{
    ViewData["Title"] = "Add";
}
@if (TempData["Message"] != null)
{
    <script>
        window.alert("@TempData["Message"]");
    </script>
}
<h1>Patient Diagnosis</h1>
<div class="">
	<div class="">
		<span class="btn btn-primary">5. Drug Allergies</span>
		<form class="form-critical" method="post" asp-controller="Allergy" asp-action="Add">
			<div class="form-group col p-0">
				<div class="col-8 p-0"><label>Select Drug Allergies *</label></div>
				<div class="col-12 p-0">
				<select asp-for="allergy.Allergy.ActiveIngreID" class="form-control" required>
					<option value="" disabled selected>Select Drug Allergies</option>
					@foreach (ActiveIngredient a in ViewBag.Allergies)
					{
						<option value="@a.ActiveIngreID">@a.Name</option>
					}
				</select>
			</div>
		</div>
		<input type="hidden" asp-for="PatientID"/>
			<div class="form-group row  p-0">
				<div class="col">
					<p>(*) Mandatory</p>
				</div>
				<div class="col">
					<div class="box-items-from-right">
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</div>
			</div>
        </form>
	</div>
	<br />
	<div class=" p-0">
		<table class="table">
			<thead>
				<tr>
					<th>No:</th>
					<th>Active-Ingredient Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.lists.Count > 0)
				{
					var count = 1;
					foreach (ListPatientAllergy list in Model.lists)
					{
						<tr>
							<td>@count</td>
							<td>@list.ActiveIngredient.Name</td>
							<td colspan="1">
								<a class="btn btn-primary" asp-controller="Allergy" asp-action="Edit"
								   asp-route-id="@list.Allergy.AllergyID">
									<span><img class="utility-icon" src="~/icons/edit.png" /></span>
								</a>
							</td>
							<td colspan="1">
								<form class="form-critical" asp-controller="Allergy" asp-action="Delete" asp-route-id="@list.Allergy.AllergyID" method="post" >
									<button class="btn btn-primary" type="submit">
										<span><img class="utility-icon" src="~/icons/delete.png" /></span>
									</button>
								</form>
							</td>
						</tr>
						count++;
					}

				}
				else
				{
					<tr>
						<td colspan="5"><strong>Chronic Disease Empty Please Add Chronic Diseases</strong></td>
					</tr>
				}
			</tbody>
		</table>
		<div class=" p-0">
			@if (Model.OverallCount > 0)
			{
				<nav aria-label="Page navigation example" class="box-columned box-spaced-between">
					<div class="box-rowed box-centered p-0">
						<strong>Showing @Model.CurrentPage of @Model.OverallCount</strong>
					</div>
					<ul class="pagination p-0">
						<li class="page-item @(Model.CurrentPage == 1? "disabled": "")">
							<a class="page-link" asp-controller="Allergy" asp-action="Add">Previous</a>
						</li>
						@for (int i = 1; i <= Model.OverallCount; i++)
						{
							<li class="page-item @(Model.CurrentPage == i?"active": "")">
								<a class="page-link" asp-controller="Allergy" asp-action="Add">@i</a>
							</li>
						}
						<li class="page-item @(Model.CurrentPage == Model.OverallCount ? "disabled": "")">
							<a class="page-link" asp-controller="Allergy" asp-action="Add">Next</a>
						</li>
					</ul>
				</nav>
			}
		</div>
	</div>
	<div class="form-group row  p-0">
		<div class="col">
			<form method="get" asp-controller="AcuteMedication" asp-action="Add" asp-route-id="@Model.PatientID">
				<button type="submit" class="btn btn-primary">Previous</button>
			</form>
		</div>
		<div class="col">
			<div class="box-items-from-right">
				<form method="get" asp-controller="Prescription" asp-action="AddPrescription" asp-route-id="@Model.PatientID">
					<button type="submit" class="btn btn-primary">Done</button>
				</form>
			</div>
		</div>
	</div>
</div>
