@model AddPrescriptionLineViewModel
@{
    ViewData["Title"] = "AddLine";
    DoctorDbContext DoctorDbContext = new DoctorDbContext();
    ViewBag.Medications = DoctorDbContext.GetAllMeds();
    var rjctdOnly = Model.line.Status == "Rejected";
    var dspnsdOnly = Model.line.Status == "Dispensed" || !Model.line.IsRepeatValid();
    var rjctd_dspnsd = rjctdOnly || dspnsdOnly;
    var alerts = Model.line.GetValidations();
    var invalids = alerts.FindAll(x => x.Status == "Invalid");
    var presc_Rjtd = Model.line.GetPrescription().PrescrStatus == "Rejected";
    var presc_inactive = Model.line.GetPrescription().PrescrStatus == "Inactive";
}
@if (TempData["Message"] != null)
{
    <script>
        window.alert("@TempData["Message"]");
    </script>
}
@*<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>*@
<h3>Prescribe medication for @Model.line.GetPatient().FirstName @Model.line.GetPatient().LastName</h3>
@*<div class="b_h_centered box-rowed">*@

    @*<div class="b_boxed">*@
        <h4 class="text-center">Add Line</h4>
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <form id="submit-form" class="@(invalids.Count > 0 ? "form-critical": "")" asp-controller="Prescription" asp-action="AddPrescriptionLine" method="post">
            <div class="form-group row">
                <div class="form-group col">
                    <div class="col-8"><label>Medication Name:</label></div>
                    <div class="col-12">
                        <select asp-for="line.MedicationID" class="form-control" required>
                            <option value="" disabled selected>Select Medications</option>
                            @foreach (Medication m in ViewBag.Medications)
                            {
                                <option value="@m.MedicationID">@m.Name</option>
                            }

                        </select>
                    </div>

                </div>
               @* <div class="form-group col">
                    <div class="col-8"><label>Dosage From:</label></div>
                    <div class="col-12">
                        <select asp-for="Dosage.DosageID"
                                asp-items="@(new SelectList(ViewBag.DosageForms, "DosageID",
                                        "FormName"))" class="form-control" required>
                        </select>
                    </div>

                </div>*@

            </div>
            <div class="form-group row">
                <div class="form-group col">
                    <div class="col-8"><label>Number Of Respeats:</label></div>
                    <div class="col-12">
                        <input type="number" asp-for="line.RepeatNo" class="form-control" required />
                    </div>
                    <div class="col">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col">
                    <div class="col-8"><label>Quantity:</label></div>
                    <div class="col-12">
                        <input type="number" asp-for="line.Quantity" class="form-control" required />
                    </div>
                    <div class="col">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">

                <div class="form-group col">
                    <div class="col-8">
                        <label>
                            Enter Instructions:
                        </label>
                    </div>
                    <div class="col-12">
                        <textarea asp-for="line.Instruction" class="form-control" required>

                    </textarea>
                    </div>
                    <div class="col">
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="line.Status" value="Prescribed" />
            <div class="min-scrollable-size overflow-scroll">
                    <table class="table @(invalids.Count > 0 || rjctd_dspnsd || presc_Rjtd? "table-danger":"table-success")">
                        <thead>
                            <tr><th>Alerts</th><th></th></tr>
                        </thead>
                        <tbody>
                            @if (invalids.Count > 0)
                            {
                                var i = 0;
                                @foreach (var v in alerts.FindAll(x => x.Status == "Invalid"))
                                {
                                    <tr>
                                        <td colspan="3">
                                            Alert type: <strong>@(v.AlertType)</strong><br />
                                            Alert Message: <b>@v.Message</b><br />
                                            <b>@(v.Extras == null ? " " : "Alert Extra:  " + v.Extras)</b>
                                        </td>
                                        <td colspan="2">
                                            <label for="@(v.AlertType.Replace(' ', '_'))">Ignore</label>
                                            <input class="check-decider" asp-for="line.Alerts[i].Ignored" type="checkbox" />
                                        </td>
                                        <td colspan="4">
                                            <div class="form-group col">
                                                <input asp-for="line.Alerts[i].AlertType" type="hidden" value="@v.AlertType" />
                                                <input asp-for="line.Alerts[i].LineID" type="hidden" value="@Model.line.PresciptionLineID" />
                                                <input asp-for="line.Alerts[i].Message" type="hidden" value="@v.Message" />
                                                <input asp-for="line.Alerts[i].Status" type="hidden" value="@v.Status" />
                                                <input asp-for="line.Alerts[i].UserID" type="hidden" value="@UserSingleton.GetLoggedUser().UserId" />
                                                <textarea asp-for="line.Alerts[i].TempReason" class="form-control check-dependant" disabled></textarea><br />
                                                <span class="text-secondary">Provide a reason for ignoring</span>
                                            </div>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <span class="text-info">No alerts</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
            @*<input type="hidden" asp-for="PrescriptionLine.RepeatLeftNo" value=""/>*@
                <div class="col">
                    <div class="box-items-from-right">
                        <button type="submit" form="submit-form" class="btn btn-primary">
                            @(invalids.Count > 0 ? "Add anyway" : "Add")
                        </button>
                    </div>
                </div>
        </form>
   @* </div>*@
    <div></div>
   @* <div class="b_boxed">*@
        <div class="prescription-body">
            <div class="line-content">
                <div class="prescription-line">
                    <h4 class="text-center">Prescription Lines</h4>

                    <table class="table">
                            <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Medication Name</th>
                                    <th>Dosage Form</th>
                                    <th>Repeat No</th>
                                    <th>Repeat Left</th>
                                    <th>Quantity</th>
                                    <th>Instructions</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                           
    
                            
                            <tbody>
                                @if (Model.Lines.Count > 0)
                                {
                                    var count = 1;
                                    @foreach (PrescriptionLine line in Model.Lines)
                                    {
                                        <tr>

                                            <td>@count</td>
                                            <td>@line.GetMeds().Name</td>
                                            <td>@line.GetDosage().FormName</td>
                                            <td>@line.RepeatNo</td>
                                            <td>@line.RepeatLeftNo</td>
                                            <td>@line.Quantity</td>
                                            <td>@line.Instruction</td>
                                            @if (@line.Status == "Prescribed")
                                            {
                                                <td><span class="label label-info">@line.Status</span></td>
                                            }
                                            else if (@line.Status == "Dispense")
                                            {
                                                <td><span class="label label-warning">@line.Status</span></td>
                                            }
                                            else if (line.Status == "Rejected")
                                            {
                                                <td><span class="label label-danger">@line.Status</span></td>
                                            }


                                            <td colspan="1">
                                                <a class="btn btn-primary" asp-controller="PrescriptionLine" asp-action="Edit"
                                           asp-route-id="@line.PresciptionLineID">
                                                    <span><img class="utility-icon" src="~/icons/edit.png" /></span>
                                                </a>
                                            </td>
                                            <td colspan="1">
                                                <form asp-controller="PrescriptionLine" asp-action="Delete" asp-route-id="@line.PresciptionLineID" method="post" class="form-crital">
                                                    <button class="btn btn-primary" type="submit">
                                                        <span><img class="utility-icon" src="~/icons/delete.png" /></span>
                                                    </button>
                                                </form>
                                            </td>

                                        </tr>
                                        count++;
                                    }
                                }
                                else{
                                    <tr>
                                        <td>No Lines</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
            
                </div>
            </div>
            
        </div>
   @* </div>
</div>*@
