@model PrescriptionViewModel
@{
    ViewData["Title"] = "Index";
}
@if (Model.PrescriptionExist() == false)
{
    <div>
        <h4 class="text-danger">
            No Prescriptions Written!
        </h4>
    </div>
}
else
{
    <div class="box-columned justify-content-between patient-header-box">
        <div class="box-columned">
            <table class="table table-boarderless">
                <tbody>
                    <tr>
                        <td>Highest Qualification:</td>
                        <td>@Model.Doctor.HighestQual</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>@Model.Doctor.LastName @Model.Doctor.FirstName</td>
                    </tr>
                    <tr>
                        <td>Phone No:</td>
                        <td>@Model.Doctor.ContactNumber</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Doctor.EmailAddress</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>@Model.Doctor.AddressLine1 @Model.Doctor.AddressLine2</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Practice Name:</td>
                        <td>@Model.Doctor.GetMedicalPractice().Name</td>
                    </tr>
                    <tr>
                        <td>Practice No:</td>
                        <td>@Model.Doctor.GetMedicalPractice().PracticeNo</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Doctor.GetMedicalPractice().EmailAddress</td>
                    </tr>
                    <tr>
                        <td>Phone No:</td>
                        <td>@Model.Doctor.GetMedicalPractice().ContactNo</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>@Model.Doctor.GetMedicalPractice().AddressLine1 @Model.Doctor.GetMedicalPractice().AddressLine2</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="patient-header-img">
            <img src="~/icons/user-icon.png"
             alt="patient profile image" title="patient profile" />
        </div>
    </div>
    <hr />
    @if (!(Model.Prescriptions.Count > 0))
    {
        <div>
            <table class="table">
                <thead><tr><th>No prescription line loaded</th></tr></thead>
            </table>
        </div>
    }
    else
    {
        <div class="box-columned box-spaced-between">
            <form asp-controller="Prescription" asp-action="Index">
                <div class="box-columned">
                    <div class="box-rowed box-centered p-0">
                        <input type="text" name="keyword">
                    </div>
                    <div class="col p-0">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>

            <div class="box-items-from-right">
                <div class="box-items-from-right m-1">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                    id="filterDropdownBtn" data-toggle="dropdown"
                    aria-expanded="false">
                        Filter by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="filterDropdownBtn">
                        <a class="dropdown-item" asp-controller="Prescription" asp-action="Index"
                   asp-route-filterBy="none">
                            -none-
                        </a>
                        <a class="dropdown-item" asp-controller="Prescription" asp-action="Index"
                   asp-route-filterBy="active">
                            Active
                        </a>
                        <a class="dropdown-item" asp-controller="Prescription" asp-action="Index"
                   asp-route-filterBy="inactive">
                            Inactive
                        </a>
                        <a class="dropdown-item" asp-controller="Prescription" asp-action="Index"
                   asp-route-filterBy="rejected">
                            Rejected
                        </a>
                    </div>
                </div>
                <div class="box-items-from-right m-1">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                    id="sortDropdownBtn" data-toggle="dropdown"
                    aria-expanded="false">
                        Sort by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="sortDropdownBtn">
                        <a class="dropdown-item" asp-controller="Prescription" asp-action="Index"
                   asp-route-sortBy="newest">
                            Date(Newest)
                        </a>
                        <a class="dropdown-item" asp-controller="Prescription" asp-action="Index"
                   asp-route-sortBy="oldest">
                            Date(Oldest)
                        </a>
                        <a class="dropdown-item" asp-controller="Prescription" asp-action="Index"
                   asp-route-sortBy="status">
                            Status
                        </a>
                    </div>
                </div>
            </div>
        </div>
        var patient = new PatientUseD();
        var medPrac = new object();
        var lines = new List<PrescriptionLine>();
        @foreach (Prescription p in Model.Prescriptions)
        {
            lines = Model.GetPrescriptionLines(p.PrescriptionID).OrderByDescending(x => x.RepeatLeftNo).ThenBy(x => x.Status).ToList();
            patient = Model.GetPatient(p.PatientID);
            @*medPrac = Model.GetPractice(doctor.MedPracId);*@//to be changed to a medprac class
            var rejected = p.PrescrStatus == "Rejected";
            var inactive = p.PrescrStatus == "Inactive";
            <div class="prescription-box @(inactive?"bg-grey": "") @(rejected ? "bg-danger" : "")">
                <div class="box-columned justify-content-between prescription-header-details ">
                    
                    <div class="prescription-header-details">
                        <p>Date: @p.Date.ToShortDateString()</p>
                        <p>Doctor: @(patient.LastName + " " + patient.FirstName)</p>
                        <p>No of Lines: @lines.Count</p>
                        <p>Status: @p.PrescrStatus</p>
                    </div>
                    <div class="prescription-header-img">
                        <img src="~/icons/hospital.png"
                 alt="practice image" title="practice" />
                    </div>
                </div>
                <div class="prescription-body">
                    @{
                         lines = Model.GetPrescriptionLines(p.PrescriptionID);
                    }
                    @if (!(lines.Count > 0))
                    {
                        <div>
                            <h4 class="text-info">
                                Prescription line is empty
                            </h4>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <div class="col">
                                <button type="button" onclick="history.back()" class="btn">Cancel</button>
                            </div>
                            <div class="col">
                                <div class="box-items-from-right">
                                    <a asp-controller="PrescriptionLine" asp-action="Index" asp-route-id="@p.PrescriptionID" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="prescription-footer">
                </div>
            </div>
            <hr />
        }
    }
}
