@model UserListContext
@{ 
    ViewData["Title"] = "Users";
}
<div>
    <div>
        <h2>Users</h2>
        <div class="pagination dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle"
                    id="userDropdownBtn" data-toggle="dropdown"
                    aria-expanded="false">Add</button>
            <ul class="dropdown-menu" aria-labelledby="userDropdownBtn">
                <li class="dropdown-item">
                    <a asp-controller="User" asp-action="Add" asp-route-type="Doctor">
                        Doctor
                    </a>
                </li>
                <li class="dropdown-item">
                    <a asp-controller="User" asp-action="Add" asp-route-type="Pharmacist">
                        Pharmacist
                    </a>
                </li>
                <li class="dropdown-item">
                    <a asp-controller="User" asp-action="Add" asp-route-type="Patient">
                        Patient
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Role</th>
                <th></th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.DataList)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Username</td>
                    <td>@user.Role</td>
                    <td colspan="1">
                        <a class="btn btn-primary" asp-controller="User"
                        asp-action="Edit" asp-route-id="@user.UserId">
                        <span><img class="utility-icon" src="~/icons/edit.png" /></span>
                    </a>
                    </td>
                    <td colspan="1">
                        <form asp-controller="User" asp-action="Delete"
                        asp-route-id="@user.UserId" method="post">
                            <button class="btn btn-primary" type="submit">
                                <span><img class="utility-icon" src="~/icons/delete.png" /></span>
                            </button>
                    </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(Model.CurrentPage == 1? "disabled": "")">
                    <a class="page-link" asp-controller="User" asp-action="Index"
                       asp-route-pageNumber="@(Model.CurrentPage - 1)">Previous</a>
                </li>
                @for (int i = 1; i <= Model.OverallCount; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i?"active": "")">
                        <a class="page-link" asp-controller="User" asp-action="Index"
                           asp-route-pageNumber="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.CurrentPage == Model.OverallCount ? "disabled": "")">
                    <a class="page-link" asp-controller="User" asp-action="Index"
                       asp-route-pageNumber="@(Model.CurrentPage + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
