@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    <script>
        var srlProvs = "@(ViewBag.Prov_s)";
        var srlCities = "@ViewBag.City_s";
        var srlSuburbs = "@ViewBag.Suburb_s";
    </script>
}
@section scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}  
    <div>
        <h2 class="text-center">Register</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" asp-action="Register">
            <div class="form-group row">
                <div class="form-group col p-0">
                <div class="col-8"><label>ID Number</label></div>
                <div class="col-12">
                    <input class="form-control" type="text" asp-for="UserPatient.IdNumber" maxlength="13"
                      
                       required />
                </div>
                <div class="col">
                    <span asp-validation-for="UserPatient.IdNumber" class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="form-group row ">
                <div class="form-group col p-0">
                    <div class="col-8"><label>First Name:</label></div>
                    <div class="col-12">
                        <input asp-for="UserPatient.FirstName" class="form-control" />
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserPatient.FirstName"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col p-0">
                    <div class="col-8 "><label>Last Name:</label></div>
                    <div class="col-12">
                        <input asp-for="UserPatient.LastName" class="form-control" />
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserPatient.LastName"
                              class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="form-group row">
                    <div class="col-8"><label>Gender:</label></div>
                    <div class="col-12">
                        <select asp-for="UserPatient.Gender" class="form-control">
                            <option value="O">----</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
              </div>
            <div class="form-group row">
                <div class="form-group col p-0">
                    <div class="col-8"><label>Email Address:</label></div>
                    <div class="col-12">
                        <input asp-for="UserPatient.EmailAddress" class="form-control" />
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserPatient.EmailAddress"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col p-0">
                    <div class="col-8"><label>Contact Number:</label></div>
                    <div class="col-12">
                        <input asp-for="UserPatient.ContactNumber" class="form-control" />
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserPatient.ContactNumber"
                              class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="form-group col p-0">
                    <div class="col-8"><label>Province:</label></div>
                    <div class="col-12">
                        <select id="slctProvince" asp-for="UserPatient.ProvinceID"
                                asp-items="@(new SelectList(ViewBag.Provinces, "ProvID",
                                        "Name"))"
                                class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group col p-0">
                    <div class="col-8"><label>City:</label></div>
                    <div class="col-12">
                        <select id="slctCities" asp-for="UserPatient.CityID"
                                asp-items="@(new SelectList(ViewBag.Cities, "CityID",
                                        "Name"))"
                                class="form-control">
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="form-group row ">
                    <div class="col-8 "><label>Suburb:</label></div>
                    <div class="col-12">
                        <select id="slctSuburbs" asp-for="UserPatient.SuburbID"
                                asp-items="@(new SelectList(ViewBag.Suburbs, "SuburbID",
                                        "Name"))"
                                class="form-control">
                        </select>
                    </div>
                </div>
            <div class="form-group row">
                
                <div class="form-group col p-0">
                    <div class="col-8"><label>Address Line 1:</label></div>
                    <div class="col-12">
                        <input asp-for="UserPatient.AddressLine1" class="form-control"/>
                      
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserPatient.AddressLine1"
                              class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col p-0">
                    <div class="col-8"><label>Address Line 2:</label></div>
                    <div class="col-12">
                        <input asp-for="UserPatient.AddressLine2" class="form-control"/>
                       
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserPatient.AddressLine2"
                              class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <div class="form-group col p-0">
                    <div class="col-8"><label>Password:</label></div>
                    <div class="col-12">
                        <input asp-for="UserDetails.Password" class="form-control" />
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserDetails.Password"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col p-0">
                    <div class="col-8"><label>Confirm Password:</label></div>
                    <div class="col-12">
                        <input asp-for="UserDetails.ConfPassword" class="form-control" />
                    </div>
                    <div class="col">
                        <span asp-validation-for="UserDetails.ConfPassword"
                              class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="UserDetails.Role" value="Patient" />
            <div class="form-group row">
                <div class="col">
                    <div class="col-8">
                        Already registered? <a asp-action="Login">Log In</a>
                    </div>
                </div>
                <div class="col">
                    <div class="box-columned justify-content-end box-items-from-right m-0">
                        <div class="justify-content-end flex-grow-1 box-items-from-right">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
