@model PatientAcuteDiseaseModel
@{
    ViewData["Title"] = "AddAcuteDisease";
}

<h1>AddAcuteDisease</h1>
<div class="b_h_centered box-rowed">
    <div class="b_boxed">
        <div class="form-group col">
            <div class="col-8"><label>Select Acute Diseases *</label></div>
            <div class="col-12">
                <select asp-for="acuteDisease.AcuteDisease.DiseaseID" class="form-control">
                    <option value="" disabled selected>Select Acute Diseases</option>
                    @foreach (Disease d in ViewBag.Diseases)
                    {
                        <option value="@d.DiseaseID">@d.DiseaseName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col">
            <div class="col-8"><label>Choose Diagnos Date *</label></div>
            <div class="col-12">
                <input type="date" asp-for="acuteDisease.AcuteDisease.Date" class="form-control" />
            </div>
        </div>
        @*<input type="hidden" asp-for="acuteDisease.AcuteDisease.PatientID" />*@
        <p>(*) Mandatory</p>
        <div class="col">
            <div class="offset-8 col-8">
                <button id="AddAcuteDisease" type="submit" onclick="acute()" class="btn btn-primary">Add</button>
                <script>
                    function acute() {
                        const diseaseMethod = document.getElementById('diseaseMethod');
                        diseaseMethod.value = "acute";
                    }
                </script>
            </div>
        </div>
    </div>
    <br/>
    <div class="b_boxed">
        <table class="table">
            <thead>
                <tr>
                    <th>No:</th>
                    <th>Acute Diseases Name</th>
                    <th>Diagnosis Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.lists.Count > 0)
                {
                    var count = 1;
                    foreach (ListPatientAcuteDisease list in Model.lists)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@list.Disease.DiseaseName</td>
                            <td>@list.AcuteDisease.Date</td>
                            <td colspan="1">
                                <a class="btn btn-primary" asp-controller="PatientDiagnosis" asp-action="Edit"
                           asp-route-id="@list.AcuteDisease.AcuteDiseaseID">
                                    <span><img class="utility-icon" src="~/icons/edit.png" /></span>
                                </a>
                            </td>
                            <td colspan="1">
                                <form asp-controller="PatientDiagnosis" asp-action="Delete" asp-route-id="@list.AcuteDisease.AcuteDiseaseID" method="post" class="form-crital">
                                    <button class="btn btn-primary" type="submit">
                                        <span><img class="utility-icon" src="~/icons/delete.png" /></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        count++;
                    }
                }
                 else
            {
                <tr>
                    <td colspan="5"><strong>Acute Disease Empty Please Add Chronic Diseases</strong></td>
                </tr>
            }
            </tbody>
            @*Body of table*@
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item @(Model.CurrentPage == 1? "disabled": "")">
                        <a class="page-link" asp-controller="Patient" asp-action="AddAcuteDisease"
                           asp-route-pageNumber="@(Model.CurrentPage - 1)">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.OverallCount; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i?"active": "")">
                            <a class="page-link" asp-controller="Patient" asp-action="AddAcuteDisease"
                           asp-route-pageNumber="@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.CurrentPage == Model.OverallCount ? "disabled": "")">
                        <a class="page-link" asp-controller="Patient" asp-action="AddAcuteDisease"
                           asp-route-pageNumber="@(Model.CurrentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="b_boxed">
        <form method="get" asp-controller="ChronicMedication" asp-action="Add" >
            <div class="form-group row">
                <div class="col">
                    <div class="offset-8 col-8">
                        <button type="submit" class="btn btn-primary">Previous</button>
                    </div>
                </div>
                <div class="col">
                    <div class="offset-8 col-8">
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
