@model PatientViewModel
@{
    ViewData["Title"] = "My Health Record";
    ViewData["PatientName"] = Model.Patient.LastName + " " + Model.Patient.FirstName;
    if (!(TempData["Message"] == null || TempData["Message"].ToString() == ""))
    {
        <script>
            alert("@(TempData["Message"])");
        </script>
    }
}
<h1><strong>My Health Record</strong></h1>
<div class="box-columned justify-content-between patient-header-box">
    <div class="box-columned">
        <table class="table table-boarderless mr-10">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="underlined-text">@Model.Patient.IdNumber</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td class="underlined-text">@Model.Patient.LastName @Model.Patient.FirstName</td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td class="underlined-text">@Model.Patient.EmailAddress</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Email:</td>
                    <td class="underlined-text">@Model.Patient.EmailAddress</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td class="underlined-text">@Model.Patient.ContactNumber</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td class="underlined-text">@Model.Patient.AddressLine1 @Model.Patient.AddressLine2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="patient-header-img">
        <img src="~/icons/user-icon.png"
             alt="patient profile image" title="patient profile" />
    </div>
</div>
<hr />
<div class="form-group row m-1">
    <div class="col">
        <form method="get" asp-controller="ChronicDisease" asp-action="Add" asp-route-id="@Model.Patient.PatientId">
            <button type="submit" class="btn btn-warning">Diagnose Patient</button>
        </form>
    </div>
    <div class="col">
        <div class="box-items-from-right">
            <form method="post" asp-controller="Prescription" asp-action="AddPrescription" asp-route-id="@Model.Patient.PatientId">
                <button type="submit" class="btn btn-success">Prescribe Medications</button>
            </form>
        </div>
    </div>
</div>
<hr />
@if (!(Model.ChronicDiseases.Count > 0))
{
    <div class="box-columned">
        <div>
            <h4 class="text-info">
                patient has not loaded health record yet.
            </h4>
        </div>
        <div class="form-group row">
            <form method="get" asp-controller="ChronicDisease" asp-action="Add" asp-route-id="@Model.Patient.PatientId">
                <div class="col">
                    <div class="offset-8 col-8">
                        <button type="submit" class="btn btn-warning">Diagnosis Patient</button>
                    </div>
                </div>
            </form>
            <form method="post" asp-controller="Prescription" asp-action="AddPrescription" asp-route-id="@Model.Patient.PatientId">
                <div class="col">
                    <div class="offset-8 col-8">
                        <button type="submit" class="btn-success">Prescribed Medications</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    var count = 1;
    var countAcuteD = 1;
    var countA = 1;
    var countCM = 1;
    var countV = 1;
    <div class="prescription-box box-rowed">
        <h3 class="text-center">Patient Condition History and Allergies</h3>
        <hr />
        <div class="box-columned">
            <div class="box-columned">
                <div class="box-columned justify-content-between prescription-header-details ">
                    <div class="line-content">
                        <div class="prescription-line">
                            <table class="table table-bordered m-0">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Chronic Diseases</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>No:</th>
                                        <th>Name</th>
                                        <th>Diagnosis Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ChronicDiseases.Count > 0)
                                    {
                                        @foreach (ChronicDisease c in Model.ChronicDiseases)
                                        {

                                            <tr>
                                                <td>@count</td>
                                                <td>@c.GetChronicDiseases().DiseaseName</td>
                                                <td>@Convert.ToDateTime(c.Date).ToShortDateString()</td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No Patient chronic disease recorded</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-columned">
                <div class="box-columned justify-content-between prescription-header-details ">
                    <div class="line-content">
                        <div class="prescription-line">
                            <table class="table table-bordered m-0">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="3">Acute Diseases</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>No:</th>
                                        <th>Name</th>
                                        <th>Diagnosis Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.AcuteDiseases.Count > 0)
                                    {
                                    @foreach (AcuteDisease a in Model.AcuteDiseases)
                                    {
                                        <tr>
                                            <td>@countAcuteD</td>
                                            <td>@a.GetAcuteDiseases().DiseaseName</td>
                                            <td>@Convert.ToDateTime(a.Date).ToShortDateString()</td>
                                        </tr>
                                        countAcuteD++;
                                    }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No Patient acute diseases recorded</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-columned">
                <div class="box-columned justify-content-between prescription-header-details ">
                    <div class="line-content">
                        <div class="prescription-line">
                            <table class="table table-bordered m-0">
                                <thead>
                                    <tr>
                                        <th class=" text-capitalize" colspan="3">Allergies</th>
                                    </tr>
                                    <tr>
                                        <th width="8">No:</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Allergies.Count > 0)
                                    {
                                    @foreach (Allergy a in Model.Allergies)
                                    {
                                        <tr>
                                            <td width="10">@countA</td>
                                            <td>@a.GetIngredient().Name</td>
                                        </tr>
                                        countA++;
                                    }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No Patient allergies recorded</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prescription-box">
        <div class="box-columned">
            <div class="box-columned justify-content-between prescription-header-details ">
                <div class="line-content">
                    <div class="prescription-line">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-capitalize" colspan="6">Chronic Medication</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Name</th>
                                    <th>Dosage</th>
                                    <th>Active Ingredient</th>
                                    <th>Schedule</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ChronicMedications.Count > 0)
                                {
                                @foreach (ChronicMedication m in Model.ChronicMedications)
                                {
                                    <tr>
                                        <td>@countCM</td>
                                        <td>@m.GetMedications().Name</td>
                                        <td>@m.GetDosage().FormName</td>
                                        <td>@m.GetIngredient().Name</td>
                                        <td>@m.GetSchedules().ScheduleNo</td>
                                    </tr>
                                    countCM++;
                                }
                                }
                                else
                                {
                                    <tr>
                                        <td>No Patient Chronic medication recorded</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-columned justify-content-between prescription-header-details ">
                <div class="line-content">
                    <div class="prescription-line">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-capitalize" colspan="6">Acute Medication</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Name</th>
                                    <th>Dosege</th>
                                    <th>Active Ingredient</th>
                                    <th>Schedule</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AcuteMedications.Count > 0)
                                {
                                @foreach (AcuteMedication a in Model.AcuteMedications)
                                {
                                    <tr>
                                        <td>@countV</td>
                                        <td>@a.GetMedications().Name</td>
                                        <td>@a.GetDosage().FormName</td>
                                        <td>@a.GetIngredient().Name</td>
                                        <td>@a.GetSchedules().ScheduleNo</td>
                                    </tr>
                                    countV++;
                                }
                                }
                                else
                                {
                                    <tr>
                                        <td>No patient Acute Medication recorded</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
