@model PatientViewModel
@{
    ViewData["Title"] = "Search Results";
}
@if (Model.PatientExist() == false)
{
    <div>
        <h4 class="text-danger">
            Patient is not registered!
        </h4>
    </div>
}
else
{
    <div class="box-columned justify-content-between patient-header-box">
        <div>
            <p>
                ID: @Model.Patient.IdNumber
            </p>
            <p>
                Name: @Model.Patient.LastName @Model.Patient.FirstName
            </p>
            <p>
                Email: @Model.Patient.EmailAddress
            </p>
        </div>
        <div class="patient-header-img">
            <img src="" alt="patient profile image" title="patient profile" />
        </div>
    </div>
    <hr />
    @if (!(Model.Prescriptions.Count > 0))
    {
        <div>
            <h4 class="text-info">
                patient has not loaded any prescriptions yet.
            </h4>
        </div>
    }
    else
    {

        var doctor = new DoctorUser();
        var medPrac = new object();

        @foreach (Prescription p in Model.Prescriptions)
        {
            doctor = Model.GetDoctor(p.DoctorID);
            medPrac = Model.GetPractice(doctor.MedPracId);//to be changed to a medprac class
            <div class="prescription-box">
                <div class="box-columned justify-content-between prescription-header-details ">
                    <div class="prescription-header-details">
                        <p>Date: @p.Date</p>
                        <p>Doctor: @(doctor.LastName + " " + doctor.FirstName) </p>
                    </div>
                    <div class="prescription-header-img">
                        <img src="" alt="medprac-img" />
                    </div>
                </div>
                <div class="prescription-body">
                    @{
                        var lines = Model.GetPrescriptionLines(p.PrescriptionID);
                    }
                    @if (!(lines.Count > 0))
                    {
                        <div>
                            <h4 class="text-info">
                                Prescription line is empty
                            </h4>
                        </div>
                    }
                    else
                    {
                        @foreach (PrescriptionLine line in lines)
                        {
                            <div class="prescription-line">
                                <p>Quantity: Quantity:@line.Quantity</p>
                                <p>Instructions: @line.Instruction</p>
                                <p>Repeat: @line.RepeatNo</p>
                                <p>Repeats left: @line.RepeatLeft</p>
                            </div>
                        }
                    }
                </div>
                <div class="prescription-footer">

                </div>
            </div>
            <hr />
        }
    }
}
