@model AddPrescriptionLineViewModel
@{
    ViewData["Title"] = "Index";
}
@if (TempData["Message"] != null)
{
    <script>
        window.alert("@TempData["Message"]");
    </script>
}
<div class="">
    <div class="prescription-body">
        <div class="line-content">
            <div class="prescription-line">
                <h4 class="text-center">Prescription Lines</h4>
                <div class="min-size box-columned overflow-scroll">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No:</th>
                                <th>Medication Name</th>
                                <th>Dosage Form</th>
                                <th>Repeat No</th>
                                <th>Repeat Left</th>
                                <th>Quantity</th>
                                <th>Instructions</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DataList.Count > 0)
                            {
                                var count = 1;
                                @foreach (GenericPrescriptionLine line in Model.DataList)
                                {
                                    <tr>

                                        <td>@count</td>
                                        <td>@line.Line.GetMeds().Name</td>
                                        <td>@line.Medication.GetDosage().FormName</td>
                                        <td>@line.Line.RepeatNo</td>
                                        <td>@line.Line.RepeatLeftNo</td>
                                        <td>@line.Line.Quantity</td>
                                        <td>@line.Line.Instruction</td>
                                        @if (@line.Line.Status == "Prescribed")
                                        {
                                            <td><span class="text-info">@line.Line.Status</span></td>
                                        }
                                        else if (@line.Line.Status == "Dispense")
                                        {
                                            <td><span class="text-warning">@line.Line.Status</span></td>
                                        }
                                        else if (line.Line.Status == "Rejected")
                                        {
                                            <td><span class="text-danger">@line.Line.Status</span></td>
                                        }


                                        <td colspan="1">
                                            <a class="btn btn-primary" asp-controller="PrescriptionLine" asp-action="Edit"
                                       asp-route-id="@line.Line.PresciptionLineID">
                                                <span><img class="utility-icon" src="~/icons/edit.png" /></span>
                                            </a>
                                        </td>
                                        <td colspan="1">
                                            <form asp-controller="PrescriptionLine" asp-action="Delete" asp-route-id="@line.Line.PresciptionLineID" method="post" class="form-crital">
                                                <button class="btn btn-primary" type="submit">
                                                    <span><img class="utility-icon" src="~/icons/delete.png" /></span>
                                                </button>
                                            </form>
                                        </td>

                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

